<!DOCTYPE html>
<html>
  <head>
    <title>Snapshot Counter Demo</title>
    <style>
      /* Set background color to light gray */
      body {
        background-color: #f2f2f2;
      }
      
      /* Style for snapshots counter */
      #snapshots-counter {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
      }
      
      /* Style for sign-in status */
      #signed-in {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
      }
      
      /* Style for images */
      #image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
      }
      
      #image-container img {
        max-width: 100%;
        max-height: 100%;
      }

      .image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        width: 400px;
        height: 300px;
      }
      
      .image-wrapper img {
        max-width: 100%;
        max-height: 100%;
      }
      
      .image-wrapper p {
        margin: 10px 0 0 0;
        font-size: 18px;
      }
      
      /* Style for buttons */
      #button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
      }
      
      button {
        padding: 10px 20px;
        font-size: 18px;
        margin: 0 10px;
        border-radius: 5px;
        border: none;
        color: #fff;
        cursor: pointer;
      }
      
      /* Style for left button */
      #take-snapshot-button {
        background-color: green;
      }
      
      #take-snapshot-button:hover {
        background-color: darkgreen;
      }
      
      #take-snapshot-button:active {
        background-color: forestgreen;
      }
      
      /* Style for right button */
      #delete-snapshots-button {
        background-color: red;
      }
      
      #delete-snapshots-button:hover {
        background-color: darkred;
      }
      
      #delete-snapshots-button:active {
        background-color: firebrick;
      }
    </style>
  </head>
  <body>
    <div id="snapshots-counter">Remaining snapshots: <span id="snapshots-count">{{ remaining_snapshots }}</span></div>
    
    <!-- Sign-in status -->
    <div id="signed-in">QA signed in: {{ user }}</div>
    
    <!-- Images -->
    <div id="image-container">
        <div class="image-wrapper">
          <img src="{{ snapshot_url }}" alt="{{ snapshot_url }}">
          <p>Snapshot</p>
        </div>
        <div class="image-wrapper">
          <img src="{{ product_url }}" alt="{{ product_url }}">
          <p>Product</p>
        </div>
    </div>
    
    <!-- Buttons -->
    <div id="button-container">
        <p>Is the proposed product correct?</p>
        <form action="/votepage/" method="post">
            <button type="button"
                id="take-snapshot-button"
                onclick='submitForm(true, {{ snapshot_id }})'>Yes, it`s correct</button>
            <button type="button"
                id="delete-snapshots-button"
                onclick='submitForm(false, {{ snapshot_id }})'>No / I`m not sure</button>
        </form>
    </div>
    
    <script>
        function submitForm(option, snapshot_id) {
            // Create JSON payload
            var payload = {
                "option": option,
                "snapshot_id": snapshot_id
            };
            
            // Send AJAX request
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/vote");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function() {
                if (xhr.status === 200) {
                  location.reload();
                } else {
                  alert("Form submission failed");
                }
            };
            xhr.send(JSON.stringify(payload));
        }
    </script>
  </body>
</html>
